.error {
  color: red;
  font-weight: bold;
}

body{
  background-image: url("./images/back-ground.jpg");
  font-family: ChineseTakeaway;
  color: #f3ae08;
}
font{
  color: #f3ae08;
}
@font-face {
  font-family: ChineseTakeaway;
  src: url("/font/CHINESETAKEAWAY.ttf");
}

.birthday > input {
display: flex;
width: 200px;
height: 50px;
color: black;
background-color: #f3ad0885;
font-size: 110%;
font-family: ChineseTakeaway;
border: none;
position: fixed; /* or absolute */
top: 50%;
left: 44.5%;

}

button {
  background-color:#f3ae08;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: ChineseTakeaway;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: fixed; /* or absolute */
  top: 60%;
  left: 45%;
}

.animal {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.header {
  text-align: center;
  font-size: 300%;
  position: relative;
}
.speechbubble > img {
  width: 30%;
  z-index: 1;
  margin-left: 35%;
}
.speechbubble > p {
  width: 500px;
  height: 100.5px;
  z-index: 2;
  margin-left: 30%;
  margin-top: 200px;
}

.cookie > img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}